---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import Github from "../components/icons/Github.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import { DevToolbarBadge } from "astro/runtime/client/dev-toolbar/ui-library/badge.js";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hey, soy midudev<a
          href="https://www.linkedin.com/in/diego-l%C3%B3pez-83773a270/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        Desarrollador Web.<span class="text-blue-500"> De Guatemala.</span><span
          class="opacity-80"
        >
          Especializado en crear aplicaciones únicas</span
        >
      </h2>
      <ul>
        <li><a href="https://github.com/diegoGTDev"></a></li>
        <li>
          <a href="https://www.linkedin.com/in/diego-l%C3%B3pez-83773a270/"
            >Linkdn</a>
        </li>
      </ul>
    </section>
  </main>
</Layout>
